* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoModerno;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('image/log.png'); /* Укажите путь к изображению */
    background-size: cover;
    background-position: center;
    color: white;
}


.navbar {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    animation: fadeInDown 1s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: MuseoModerno;

}

.navbar a:hover {
    color: #ff4081; 
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1.5s ease;
}

.signin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: scaleIn 0.8s ease;
}


@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.user-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: white;
    outline: none;
    transition: box-shadow 0.3s ease;
}

form input:focus {
    box-shadow: 0 0 10px #ff4081;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff4081;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #e63673;
    transform: scale(1.05);
}


.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: #ff4081;
    text-decoration: none;
    transition: color 0.3s ease;
}

.register-text a:hover {
    color: #e63673;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
